.App {
  /* display: block; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
  font-family: 'Nunito';
  margin: auto;
  /* background-color: #555; */
}

/* .App > main {
  flex: 1;
} */

.App > header {
  background-color: #cc5500;
  /* margin-top: 50px; */
  text-align: center;
  height: 50px;
}

/* .App > nav {
  background-color: #555;
} */

.App > main p {
  color: #e0dfda;
}

.App > footer {
  color: #e0dfda;
}
