.Footer {
  font-size: 20px;
  padding: 3% 0% 3% 0%;
  background: #555;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

/* .social-icons a {
  height: 100px;
  color: orange;
} */

#lab_social_icon_footer {
  /* padding: 40px 0; */
  /* background-color: #dedede; */
}

#lab_social_icon_footer a {
  color: white;
}



#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer .social:hover {
  color: orange;
}

/* #lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
} */