

.homepage_header {
    position: relative;
    /* margin-top: 100px; */
}

.homepage_header img {
    width: 100%;
    /* position: absolute;  */
    background-size: contain;
}

.homepage_header h1 {
    position: absolute;
    top: 10%;
    left: 16px;
}

.homepage_header h2:nth-of-type(1) {
    position: absolute;
    top: 30%;
    left: 16px;
}

.homepage_header h2:nth-of-type(2) {
    position: absolute;
    top: 40%;
    left: 16px;
}

.homepage_header h2:nth-of-type(3) {
    position: absolute;
    top: 50%;
    left: 16px;
}

.homepage_header h2:nth-of-type(4) {
    position: absolute;
    top: 60%;
    left: 16px;
}

.homepage_header h2:nth-of-type(5) {
    position: absolute;
    top: 70%;
    left: 16px;
}

.class_photo {
    padding-top: 10%;
    padding-left: 5%; 
    width: 90%;
    margin: auto;
}