.Nav,
.navbar-toggler,
.navbar-toggler-icon,
.Nav a,
.Nav a:active,
.Nav a:focus,
.Nav a:visited {
  color: #ececea;
}

.Nav a:hover {
  color: #cc5500;
  text-decoration: solid;
}

.Nav a:not(:last-of-type) {
  margin-right: 32px;
}

.Nav {
  background-color: #555;
  display: flex;
  justify-content: space-around;
  position: fixed;
   top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

a, p {
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}