.images img {
    /* width: 30%;
    margin: 1%;
    border-radius: 10px */
    width: auto;
    max-width: 48%;
    height: auto;
    /* max-height: 200px; */
    margin: 1%   
}

.images img:hover {
    opacity: 90%;
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 