.images img {
    /* width: 30%;
    margin: 1%;
    border-radius: 10px */
    width: 40%;
    height: auto;
    margin: 1%;  
    /* object-fit: scale-down;  */
}

.holder {   
    width: auto;
    display: inline-block;    
    border: 1px solid red;
    margin: 1%;
  }

.images img:hover {
    opacity: 90%;
}

/* .images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}  */