.Resume {
    margin: auto;
    /* display: inline-block; */
    color: white;
}

.Resume img {
    width: 60%;
    margin-left: 20%;
}

.Resume button {
    margin-left: 40%;
    /* border-radius: 0%; */
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #e63c0e 5%, #bc3315 100%);
	background-color:#e63c0e;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* font-family:Arial; */
	/* font-size:13px; */
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.Resume button:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #e63c0e 100%);
	background-color:#bc3315;
}
.Resume button:active {
	position:relative;
	top:1px;
}

@media only screen and (max-width: 900px) {
    .Resume img {
    padding-bottom: 20%;
    }
}