/* iframe {
  margin: 0 0 0 20px;
  padding: 0;
} */

.VideosPage h1 {
  padding-top: 0px;
  /* background-color: #555; */
  margin: 5% 0 10% 0;
  text-align: center;
}

iframe {
  width: 40%;
  /* height: auto; */
  margin: 1%;
  border-radius: 10px
}

iframe:hover {
  opacity: 90%;
  background: black;
}

.videos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} 